@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');

$negro:#131313;
$beige:#f5f5db;
$gris: #808080;
$bordo:#a31830;
$verde:#0df053;

$font1:'Montserrat', sans-serif !important;
$font2:'Source Serif Pro', serif !important;
