.main-conocenos {
    background-color: white;
    color: $negro;
    text-align: center;
    padding-top: 50px;

    .row {
        .col {
            .card {
                .card-body {
                    h5 {
                        font-weight: bold !important;
                        font-size: 20px;
                    }

                    p {
                        font-family: $font2;
                        font-weight: 500;
                        font-style: italic !important;
                        font-size: 20px;
                    }

                }

                img {
                    padding: 10px;
                    border-radius: 1rem;
                }

                .card-footer {
                    .card-link {
                        color: $negro;
                        font-weight: bold;
                        text-decoration: none;

                        &:hover {
                            color: $gris;
                        }
                    }


                }


            }
        }
    }



}